@use '@variable' as *;

.container {
  cursor: pointer;
  padding: 10px 20px;
  display: flex;
  margin-bottom: 64px;

  .image {
    min-width: 330px;
    max-width: 330px;
    aspect-ratio: 16 / 9;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    overflow: hidden;

    // NuxtImg
    img {
      width: 100%;
      height: 100%;
      border-radius: 12px;
      object-fit: cover;
      transition: 0.5s all;
      display: block;
    }
  }

  &:hover {
    .image {
      border-radius: 12px;
      img {
        opacity: 0.7;
        transform: scale(1.1);
        transition: 0.5s all;
        border-radius: 12px;
      }
    }
  }
}

.content {
  margin-left: 40px;
}

.title {
  padding-top: 10px;
  font-size: 1.125rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 27px;
}

.category {
  margin-top: 16px;
  display: flex;

  &__item {
    margin-right: 10px;
    padding: 4px 10px;
    font-size: 0.8rem;
    letter-spacing: 0.08em;
    color: var(--c-point);
    border: 1px solid var(--c-point);
    border-radius: 999px;
  }
}

.date {
  margin-top: 16px;
}
