@import 'reset.scss';
@import 'common.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", sans-serif;
  background: #fdfdfd;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
