@use '@variable' as *;

.article {
  width: 760px;
  padding: 30px;

  @include mq(xl) {
    width: 100%;
  }

  @include mq(lg) {
    padding: 20px 12px;
  }

  @include mq(md) {
    padding: 16px 0;
  }
}

.aside {
  width: 300px;

  @include mq(xl) {
    width: 100%;
  }
}
