@use '@variable' as *;

.container {
  cursor: pointer;
  margin-bottom: 40px;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }

  .image {
    width: 320px;
    max-width: 100%;
    aspect-ratio: 16 / 9;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    overflow: hidden;

    @include mq(md) {
      width: 100%;
    }

    // NuxtImg 本体をそのままスタイリング
    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 12px;
      object-fit: cover;
      transition: 0.5s all;
    }
  }

  &:hover {
    .image {
      img {
        opacity: 0.7;
        transform: scale(1.1);
        transition: 0.5s all;
      }
    }
  }
}

.title {
  margin-top: 10px;
  padding-top: 10px;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 27px;

  @include mq(md) {
    margin-top: 0;
    padding-top: 2px;
    font-size: 0.75rem;
    line-height: 24px;
  }
}

.category {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;

  @include mq(md) {
    margin-top: 10px;
  }

  &__item {
    margin-right: 12px;
    margin-bottom: 8px;
    padding: 8px 12px;
    font-size: 0.9rem;
    letter-spacing: 0.08em;
    color: var(--c-point);
    border: 2px solid var(--c-point);
    border-radius: 999px;

    @include mq(md) {
      font-size: 0.75rem;
      padding: 6px 8px;
      margin-bottom: 6px;
    }
  }
}

.date {
  margin-top: 4px;

  @include mq(md) {
    display: none;
  }

  &__sp {
    display: none;

    @include mq(md) {
      display: block;
    }
  }
}
