@use '@variable' as *;

.blogItem {
  display: block;

  @include mq(lg) {
    display: none;
  }
}

.blogItem__responsive {
  display: none;

  @include mq(lg) {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
